name: CI

on:
  push:
    branches: [main]
    tags: ['*']
  pull_request:

jobs:

  ci:
    name: Build and test
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update local toolchain
        run: rustup component add clippy

      - name: Toolchain info
        run: |
          cargo --version --verbose
          rustc --version
          cargo clippy --version

      # TODO: Run the `generate` script.
      #       Installing `openapi-generator` with all Java deps takes a lot of time.
      #       Let's find some lighter alternative.
      #       Till then we have to always make sure files are properly regenerated.

      - name: Check
        run: cargo check

      - name: Test
        run: cargo test --all

      - name: Build
        run: cargo build --release

  tag:
    name: Tag
    needs: ci
    uses: transpaer/github-workflows/.github/workflows/tag-rust.yml@v0.1.1
    permissions:
      contents: write
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}
